.countries-visited-card {
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #1f1f2f;
}
.image {
  height: 140px;
  width: 260px;
}
.name-remove-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.visited-country-name {
  margin-left: 10px;
  font-family: roboto;
  color: #ffffff;
}

.remove-btn {
  margin-right: 10px;
  height: 25px;
  width: 60px;
  font-family: roboto;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 4px;
  cursor: pointer;
}
